@import "../../mixin.scss";

$light-gray: #ECEFF1;
$naples-yellow:#FFE66D;
$opensans-font:'Open Sans', sans-serif;
$onHover-color:#f6f6f6;
$delft-blue : #2F3061;

@mixin shrink{
    position: relative;
    top: -5px;
    left: 0px;
    font-size: 15px;
    color: black;
}

.input-field{
    width: 100%;
    max-width: 350px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: $opensans-font;
    margin: 20px 0px;

    @include md{
        width: 280px;
    }

    label{
        position: relative;
        left: 10px;
        top: 30px;
        font-size: 20px;
        color: rgba($color: #000000, $alpha: 0.5);
        order: 1;
        transition: 300ms ease all;
        z-index: 10;

        &.shrink{
            @include shrink();
        }
    }
    input{
        width: 100%;
        height: 40px;
        order: 2;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid $delft-blue;
        z-index: 20;
        font-size: 18px;

        &:focus{
            outline: none;
        }

        &:focus ~ label{
            @include shrink();
        }
    }
}