@import "../../mixin.scss";

$light-gray: #ECEFF1;
$naples-yellow:#FFE66D;
$opensans-font:'Open Sans', sans-serif;
$onHover-color:#f6f6f6;
$delft-blue : #2F3061;
$gredient-color: linear-gradient(141deg, #adf1e0, #8075ff 28%, #ff7171 98%);

.contact-card{
    width: 95%;
    height: fit-content;
    max-width: 900px;
    background-color: $light-gray;
    margin: 0px auto;
    padding: 20px;
    font-family: $opensans-font;
    border-radius: 20px;
    transition: 300ms all ease-in-out;
    box-shadow: none;
    position: relative;
    overflow: hidden;

    &:hover{
        box-shadow: 0 0 0 0 #e6ebef, 0 6px 34px 0 rgba(0, 0, 0, 0.25);
        background-color: $onHover-color;
        scale: 1.02;
    }
    .contact-card-heading{
        text-align: center;
        margin: 30px auto;
        font-weight: 400;
    }
    form{
        width: 100%;
        height: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;

        .row{
            width: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;

            @include md{
                justify-content: space-between;
            }

            @include lg{
                justify-content: space-between;
            }
        }
        .button-row{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-top: 50px;
        }
    }   


}