:root {
  --main-font-color: #00ffc2;
  --white-font-color: #ffffff;
}

.openSans {
  font-family: "Open Sans", normal;
}
.inter {
  font-family: "Inter", sans-serif;
}
.orbitron {
  font-family: "Orbitron", sans-serif;
}
.animateButton {
  transition: 0.6s all;
}
.animateButton:hover,
.animateButton:focus {
  cursor: pointer;
  color: var(--white-font-color);
  box-shadow: inset 11em 0 0 0 var(--main-font-color);
  outline: none;
}
.heroImage {
  background: url("./assets/Hero.jpg") no-repeat center center/cover;
  opacity: 0.8;
}
.aboutImage {
  background: url("./assets/About.jpg") no-repeat center center/cover;
  opacity: 0.8;
}
.skillsImage {
  background: url("./assets/Skills.jpg") no-repeat center center/cover;
  opacity: 0.9;
}
.projectsImage {
  background: url("./assets/Projects.jpg") no-repeat center center/cover;
  opacity: 0.9;
}
.blogsImage {
  background: url("./assets/Blogs.jpg") no-repeat center center/cover;
  opacity: 0.9;
}
.contactsImage {
  background: url("./assets/Contact.jpg") no-repeat center center/cover;
  opacity: 0.8;
}

.rubberBand {
  display: inline-block;
  transition: 0.6s all;
}
.rubberBand:hover {
  cursor: default;
  animation: rubberBand 0.6s linear 1;
  color: var(--main-font-color);
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.navLink {
  transition: 0.3s all;
}
.navLink:hover {
  color: var(--main-font-color);
}
.active {
  color: var(--white-font-color);
  background-color: var(--main-font-color);
  padding: 6px 50px;
  border-radius: 5px;
}
.hoverLogo path {
  fill: white;
  transition: 0.3s all;
}
.hoverLogo path:hover {
  cursor: pointer;
  fill: var(--main-font-color);
}
.socialIcon path {
  fill: white;
  transition: 0.3s all;
}
.socialIcon path:hover {
  cursor: pointer;
  fill: var(--main-font-color);
}
.progressValue::-webkit-progress-value {
  background-color: var(--main-font-color);
}
.toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 80px;
  height: 40px;
  background-color: var(--main-font-color);
  border-radius: 20px;
  border: 2px solid var(--main-font-color);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  outline: none;
  transition: 0.6s all;
}
.toggle::before {
  content: "";
  background: radial-gradient(#fff, #ccc, #333);
  width: 36px;
  height: 36px;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset -8px -8px 8px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  transition: 0.6s all;
  z-index: 2;
}
.toggle::after {
  content: "MDE";
  position: absolute;
  font-size: 14px;
  color: black;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  transition: 0.6s all;
  z-index: 1;
}
.toggle:checked::before {
  content: "";
  background: radial-gradient(#fff, #ccc, #333);
  width: 36px;
  height: 36px;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 50%;
}
.toggle:checked::after {
  content: "FWD";
  position: absolute;
  font-size: 14px;
  color: black;
  font-weight: 700;
  top: 50%;
  left: 1px;
  transform: translate(0, -50%);
}
@media only screen and (max-width: 640px) {
  .toggle {
    width: 60px;
    height: 30px;
    border-radius: 15px;
  }
  .toggle::before {
    width: 26px;
    height: 26px;
  }
  .toggle::after {
    font-size: 12px;
  }
  .toggle:checked::before {
    width: 26px;
    height: 26px;
  }
  .toggle:checked::after {
    font-size: 12px;
  }
}
.scrollBar::-webkit-scrollbar {
  width: 5px;
  background-color: #1d1d1d;
  border-radius: 2.5px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background-color: var(--main-font-color);
  border-radius: 2.5px;
}
.slideIn {
  position: absolute;
  transition: 0.4s all;
  transform: translate(0px);
}
.slideOut {
  position: relative;
  transition: 0.4s all;
  transform: translateX(192px);
}
